@import url('https://fonts.googleapis.com/css2?family=Rubik+Moonrocks&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Rubik+Moonrocks&display=swap');
* {
	margin: 0;
	padding: 0;
}

body {

}
/* .статья, b {
  color: red;
}
.заголовок, i {
	color: blue;
}
#p001 {
	color: green;
}
div b {
	color: yellow;
} */

/* p.text2:not(:empty)::first-letter{
	color: green;
}
p.text2:not(:empty)::after{
	content: 'тоже BLEAT!!!';
	color: red;
}
p.text2:empty::after{
	content: attr(title);
	color: red;
}
#ups::after{
	content: 'bleat';
	color: blue;
	text-decoration:line-through;
}
.one {
	color: red;
	text-decoration: none;
}
.one:hover {
	color: blue;
	text-decoration: underline;
	text-decoration-color: green;
	cursor:url('CSS/cursor.jpg')
}
.two:active {
	text-decoration: line-through;
}
.one:visited {
	text-decoration: line-through;
	color: grey;
}
input: {}
input {color: red}
input:focus{color: green}
p:last-of-type {
	text-decoration: line-through;
}*/

/* body {
	     /* background-color: rgb(213, 126, 35);
			 background-image: url('https://proprikol.ru/wp-content/uploads/2019/09/kartinki-graviti-folz-monstry-22.jpg');
			 background-repeat: no-repeat;
			 background-position: top;
			 color: rgb(114, 61, 121);
			 background: rgb(204, 134, 125) url('https://proprikol.ru/wp-content/uploads/2019/09/kartinki-graviti-folz-monstry-22.jpg') no-repeat top ;
			 height: 500px
			 background-size: cover;
			 background-attachment: fixed;
			}
p { background-color: rgb(52, 94, 187);
		color: rgb(213, 126, 35);
} */

/* #first {
	background-image: url('https://proprikol.ru/wp-content/uploads/2019/09/kartinki-graviti-folz-monstry-22.jpg');
	background-repeat: no-repeat;
	background-position: top;
	height: 500px;
	background-attachment: fixed;
}
#second {
	height: 2000px
} */


/* .text_style {
	color: rgb(84, 28, 57);
	text-align: center;
	font-size: 1.5em;
	/* font-style: oblique;
	font-weight: bolder;
  font-family: 'Indie Flower', cursive;
	text-transform: capitalize ;
	word-spacing: 15px;
	letter-spacing: 3px;
	line-height: 30px;
}*/

/* *{margin: 0;
	padding: 0;
}

.better {
	background: red;
	height: 200px;
	width: 300px;
	border: 5px dotted rgb(79, 18, 40);
	border-bottom: 0;
	border-style: double;
	border-radius: 15px 50px;
	opacity: 0.5;
	margin: 15px;
	padding: 40px;
	display: block;
}*/

/* .block {
	width: 200px;
	height: 200px;
	margin: 20px;
	background: rgb(31, 134, 128);
}

#one { float: right;}
#two {
	background: blue;
	float: left;
} */

#header, #footer {
  width: 100%;
	height: 70px;
	text-align: center;
	border-bottom: 4px solid silver;
	background: rgb(47, 48, 39);
	color: rgb(219, 217, 158);
	line-height: 70px;
	margin-bottom: 50px;
	float: left;
}

#main {
	width: 50%;
	margin-left: 10%;
	background: rgb(186, 162, 122);
	border: 1px solid silver;
	padding: 20px 2.5%;
  float: left;

}

#aside {
	width: 20%;
	padding: 20px 2.5%;
	/* margin-right: 10%; */
	background: rgb(186, 162, 122);
	border: 1px solid silver;
	float: left;
	margin-left: 5%;

}


#footer {
	margin-bottom: 0;
	margin-top: 50px;
	border-top: 4px solid silver;
	border-bottom: 0;
	float: left;
}
